@import "~bootstrap/dist/css/bootstrap.min.css";

.reverse {
  transform: rotate(180deg);
}
.number {
  font-weight: bold;
}
.mycard {
  width: 200px;
  height: 300px;
}

.button {
  height: 300px;
}
