@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.reverse {
  transform: rotate(180deg);
}
.number {
  font-weight: bold;
}
.mycard {
  width: 200px;
}
button {
  margin-top: 50px;
}
